.messageWindow {
    width: 100%;
    background-color: #fff;
}

.messageHeader {
    display: flex;
    align-items: center;
    padding: 30px;
    height: 101px;
}

.messageHeaderName {
    font-family: Lato;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #16315c;
}

.img {
    width: 54px;
    height: 54px;
    border-radius: 10px;
    object-fit: cover;
    margin-right: 20px;
}

.messageItemWrapper {
    height: calc(100vh - 331px);
    background-color: #fff;
    border-top: 1px solid rgba(0,0,0, .1);
    border-bottom: 1px solid rgba(0,0,0, 0.1);
    padding: 30px;
    overflow-y: scroll;
}

.messageItemWrapper::-webkit-scrollbar {
     width: 3px;
     background: #fff; 
}
.messageItemWrapper::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom right, #3598db, #16315c);
    border-radius: 15px; 
}


.infoBLock {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}