.usersBar {
    width: 400px;
    height: calc(100vh - 100px);
    background-color: #f1f5f8;
    /* border: 1px solid rgba(0,0,0, .1); */
    /* box-shadow: 0px 0px 25px 0px rgba(53,152,219,0.1); */
    /* border-radius: 3px; */
    /* padding: 15px 0 32px 0; */
    /* margin-right: 30px; */
}

.headerUserBar {
    /* height: 60px; */
    /* border-right: 1px solid rgba(0,0,0, .1); */
    border: 1px solid rgba(0,0,0, .1);
    border-bottom: none;
    /* border-to: none; */
    /* border-right: none; */
    width: 401px;
    background-color: #f1f5f8;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 45px 25px 45px 42px;
}

.headerUserBarTitle {
    font-family: Lato;
    font-size: 18px;
    line-height: 10px;
    font-weight: 600;
    letter-spacing: 0.08em;
    color: #509ee2;
}

.barLine {
    display: block;
    background-color: #edf0f2;
    padding: 0 15px;
}