.wrapperS {
    display: flex;
    justify-content: flex-start;
}

.wrapperS.wrapperSRight {
    display: flex;
    justify-content: flex-end;
}

.messageItem {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

}

.img {
    width: 100%;

    background-color: #f5f6f8;

    margin-right: 20px;
}

.textMessage {
    position: relative;
    /* display: flex;
    align-items: center; */
    padding: 15px 15px;

    max-width: 352px;
    background-color: #d6e3ec;
    border-radius: 19.5px;

    font-family: Lato;
    font-size: 12px;
    line-height: 1.2;
    font-weight: 400;
    color: #8ea1b4;
}

/* left */



.textMessage.textMessageLeft {
    margin-right: 20px;
    background-color: #3598db;

    color: #fefefe;
}

.img.imgLeft {
    margin: 0;
}

.triangle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -15px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 20px 10px 0;
    border-color: transparent #d6e3ec transparent transparent;
}

.triangle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -15px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 20px 10px 0;
    border-color: transparent #d6e3ec transparent transparent;
}

.triangleRight {
    position: absolute;
    top: 50%;
    right: -15px;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 10px 20px;
    border-color: transparent transparent transparent #3598db;
}