.userListItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin-bottom: 5px; */
    cursor: pointer;
    padding: 15px 15px;
    transition: 200ms ease-in-out;
}

.userListItem:hover {
    background-color: #f5f6f8;
}

.active {
    background-color: #f5f6f8;
}

.image {
    width: 40px;
    height: 40px;
    background-color: #f5f6f8;
    object-fit: cover;
    border-radius: 20px;
    margin-right: 13px;
}

.textBlock {
    display: flex;
    align-items: center;
    /* flex-direction: column; */
}

.textblockStatus {
    display: flex;
    justify-content: space-between;
}

.name {
    display: flex;
    font-family: Lato;
    font-size: 16px;
    font-weight: 700;
    color: #34495e;
    margin-bottom: 10px;
}

.status {
    font-size: 20px;
    color: grey;
    color: red;
}

.status.statusActive {
    color: #51dacf;
}

.textblockMessge {
    display: flex;
    justify-content: space-between;
}

.strong {
    margin-right: 5px;
}

.message {
    font-family: Lato;
    width: 152px;
    font-size: 12px;
    line-height: 1.2;
    font-weight: 400;
    color: #8ea1b4;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 5px;
}

.time {
    font-family: Lato;
    font-size: 12px;
    line-height: 1.2;
    font-weight: 400;
    color: #c9d6df;
} 

.unread {
    margin-left: 10px;
    background-color: #3498db;
    color: #fff;
    padding: 2px 4px;
    border-radius: 10px;
}