.userListItem {
    display: flex;
    width: 401px;
    align-items: center;
    justify-content: space-between;
    /* margin-bottom: 5px; */
    cursor: pointer;
    padding: 40px 30px 40px 40px;
    transition: 200ms ease-in-out;
    border: 1px solid rgba(0,0,0, .1);
    border-bottom: none;
    /* border-right: none; */
}
.userListItem:last-child {
    border-bottom: 1px solid rgba(0,0,0, .1);
}

.userListItem:hover {
    background-color: #ffff;
}

.active {
    background-color: #ffff;
}

.image {
    width: 54px;
    height: 54px;
    background-color: #f5f6f8;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 13px;
}

.textBlock {
    display: flex;
    align-items: center;
    /* flex-direction: column; */
}

.textblockStatus {
    display: flex;
    justify-content: space-between;
}

.name {
    display: flex;
    font-family: Lato;
    font-size: 16px;
    line-height: 10px;
    font-weight: 600;
    letter-spacing: 0.08em;
    color: #444444;
    margin-bottom: 20px;
}

.status {
    font-size: 40px;
    color: grey;
    color: red;
}

.status.statusActive {
    color: #51dacf;
}

.textblockMessge {
    display: flex;
    justify-content: space-between;
}

.strong {
    margin-right: 5px;
}

.message {
    font-family: Lato;
    width: 152px;
    font-size: 12px;
    line-height: 1.2;
    font-weight: 400;
    color: #8ea1b4;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 5px;

    font-size: 16px;
    /* line-height: 10px; */
    font-weight: 400;
    letter-spacing: 0.06em;
    color: #aaaaaa;
}

.time {
    font-family: Lato;
    font-size: 12px;
    line-height: 1.2;
    font-weight: 400;
    color: #c9d6df;
} 

.unread {
    margin-left: 10px;
    background-color: #3498db;
    color: #fff;
    padding: 2px 4px;
    border-radius: 10px;
}